.nav-link,
.nav-link1,
.nav-link2 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
}
.nav-link {
  width: 69px;
  min-width: 69px;
  white-space: nowrap;
}
.nav-link1,
.nav-link2 {
  min-width: 66px;
}
.nav-link2 {
  width: 94px;
  min-width: 94px;
}
.nav-link-wrapper {
  margin: 0;
  width: 309px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--link-text-size);
  color: var(--black);
  font-family: var(--link-text);
}
.facebook-icon,
.instagram-icon,
.twitter-icon {
  height: 40px;
  width: 40px;
  position: relative;
  min-height: 40px;
}
.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.text {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  min-width: 97px;
}
.button,
.nav-cta,
.navigation {
  display: flex;
  flex-direction: row;
}
.button {
  border-radius: var(--br-29xl);
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.nav-cta,
.navigation {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.navigation {
  margin-left: -5px;
  margin-bottom: 206px;
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl) var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--link-text-size);
  color: var(--white);
  font-family: var(--link-text);
}
.heading-1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.paragraph {
  position: relative;
  line-height: 30px;
  font-weight: 300;
}
.slider-squares-wrapper,
.smiley-face {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.slider-squares-wrapper {
  flex-direction: row;
  padding: 0 73px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--paragraph-size);
  font-family: var(--link-text);
}
.smiley-face {
  flex-direction: column;
  gap: 1px;
}
.header-underline-icon {
  height: 16px;
  width: 260px;
  position: relative;
}
.header-underline-wrapper {
  width: 532px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.misc-element {
  position: relative;
  font-size: var(--link-text-size);
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--link-text);
  color: var(--black);
  text-align: center;
}
.button1,
.snaptech-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--yellow);
  border-radius: var(--br-29xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover,
.button2:hover {
  background-color: var(--color-gold-100);
}
.snaptech-logo {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-17xl) 0 var(--padding-xl);
}
.testimonials-container {
  width: 688px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23.5px;
  max-width: 100%;
}
.testimonials-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-84xl) var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 70px;
  color: var(--black);
  font-family: var(--font-monoton);
}
.image-10-icon,
.image-9-icon {
  position: relative;
  max-width: 100%;
  object-fit: cover;
}
.image-9-icon {
  width: 501.3px;
  max-height: 100%;
}
.image-10-icon {
  height: 207.6px;
  flex: 1;
  overflow: hidden;
  min-width: 357px;
}
.call-to-action-button,
.call-to-action-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.call-to-action-button {
  width: 1082.6px;
  padding: 0 var(--padding-12xs) 4.4px 0;
  gap: 30px;
}
.call-to-action-button-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-84xl) 53px;
}
.image-4-icon,
.image-5-icon,
.image-column-icon {
  align-self: stretch;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 560px;
}
.image-4-icon {
  width: 433px;
  position: relative;
}
.image-5-icon,
.image-column-icon {
  width: 448px;
}
.image-5-icon {
  position: relative;
}
.image-4-parent {
  width: 1369px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.drawn-misc-icon {
  height: 108px;
  width: 100px;
  position: relative;
}
.background-element {
  width: 1150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.heading-2 {
  margin: 0;
  width: 494px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 44px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.blank-line,
.este-trasfondo-diverso,
.soy-estudiante-de {
  margin: 0;
}
.paragraph1 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-size);
  line-height: 142%;
  font-weight: 300;
  font-family: var(--link-text);
}
.about-header {
  width: 707px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.heading-3 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 84px;
}
.close-icon {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.dropdown-header {
  width: 673px;
  border-top: 1px solid var(--grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
  max-width: 100%;
}
.small-paragraph {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.dropdown-open {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.heading-31 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 124px;
}
.open-icon {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.dropdown-header1 {
  width: 673px;
  border-top: 1px solid var(--grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
  max-width: 100%;
}
.heading-32 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 98px;
}
.open-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.dropdown-header2 {
  width: 673px;
  border-top: 1px solid var(--grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
  max-width: 100%;
}
.heading-33 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 115px;
}
.open-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.accordion,
.dropdown-header3,
.dropdowns-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dropdown-header3 {
  width: 673px;
  border-top: 1px solid var(--grey);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) 0 var(--padding-base);
  gap: var(--gap-xl);
}
.accordion,
.dropdowns-wrapper {
  flex-direction: column;
  justify-content: flex-start;
}
.dropdowns-wrapper {
  align-self: stretch;
  font-size: var(--link-text-size);
  font-family: var(--link-text);
}
.accordion {
  flex: 1;
  gap: 33px;
  min-width: 469px;
}
.banner-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.link,
.testimonial-slide {
  display: flex;
  max-width: 100%;
}
.link {
  height: 565px;
  width: 431px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  min-width: 431px;
}
.testimonial-slide {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 115px;
}
.image-gallery {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent,
.image-gallery,
.input-icon {
  display: flex;
  max-width: 100%;
}
.input-icon {
  width: 1302px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
  box-sizing: border-box;
}
.frame-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 103px;
}
.carousel-controls {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) 109px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--heading-1);
}
.heading-21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 44px;
  font-weight: 400;
  font-family: inherit;
}
.heading-2-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-5xl) 28px;
}
.image {
  height: 320px;
  width: 448px;
  position: relative;
  background-color: var(--color-tomato);
  display: none;
  max-width: 100%;
}
.caption,
.heading-34 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 109px;
}
.caption {
  font-size: var(--caption-size);
  line-height: 17px;
  font-weight: 300;
  min-width: 71px;
}
.image-caption,
.imagewith-caption {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.image-caption {
  width: 250px;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  z-index: 1;
}
.imagewith-caption {
  align-self: stretch;
  height: 320px;
  background-color: var(--color-tomato);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-sm) 0;
  max-width: 100%;
}
.heading-35 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
}
.desarrollado-en-html,
.juego-de-buscar {
  margin: 0;
}
.caption1 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.image-caption1,
.image-w-caption {
  display: flex;
  justify-content: flex-start;
}
.image-caption1 {
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
}
.image-w-caption {
  align-self: stretch;
  height: 646px;
  background-color: #b6d9c9;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;
}
.image1 {
  height: 240px;
  width: 448px;
  position: relative;
  background-color: var(--color-mediumaquamarine);
  display: none;
  max-width: 100%;
}
.caption2,
.heading-36 {
  position: relative;
  letter-spacing: -0.03em;
  display: inline-block;
}
.heading-36 {
  line-height: 16px;
  font-weight: 600;
  min-width: 103px;
}
.caption2 {
  width: 147px;
  font-size: var(--caption-size);
  line-height: 140%;
  font-weight: 300;
}
.gallery-column,
.gallery-columns,
.image-caption2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.image-caption2 {
  width: 195px;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  z-index: 1;
}
.gallery-column,
.gallery-columns {
  max-width: 100%;
}
.gallery-columns {
  align-self: stretch;
  background-color: var(--color-mediumaquamarine);
  flex-direction: row;
  align-items: flex-start;
  padding: 135px var(--padding-12xs) 0;
}
.gallery-column {
  height: 1238px;
  width: 448px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 256px;
  gap: var(--gap-base);
}
.heading-37 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.aplicacion-web-para,
.voluntariado-laravel {
  margin: 0;
}
.caption3 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.image-caption3 {
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-7xs) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
}
.image-w-caption1 {
  height: 646px;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f0e0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.image2 {
  align-self: stretch;
  width: 448px;
  position: relative;
  background-color: var(--color-goldenrod);
  display: none;
  max-width: 100%;
}
.heading-38 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 107px;
}
.creados-con-ia,
.glaeria-de-elementos {
  margin: 0;
}
.caption4 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.image-caption4 {
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  z-index: 1;
}
.image-parent {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 100%;
}
.image3 {
  height: 240px;
  width: 448px;
  position: relative;
  background-color: var(--color-darkgray);
  display: none;
  max-width: 100%;
}
.heading-39 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 109px;
}
.san-pedro-de,
.web-de-refugio {
  margin: 0;
}
.caption5 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.image-caption5,
.image-group {
  display: flex;
  align-items: flex-start;
}
.image-caption5 {
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  z-index: 1;
}
.image-group {
  align-self: stretch;
  background-color: var(--color-darkgray);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-115xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-column,
.image4 {
  width: 448px;
  max-width: 100%;
}
.image-column {
  height: 576px;
  margin: 0 !important;
  position: absolute;
  top: 662px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.image4 {
  height: 240px;
  position: relative;
  background-color: var(--color-salmon);
  display: none;
}
.heading-310 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.herramienta-de-organizacion,
.y-tareas {
  margin: 0;
}
.caption6 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.image-caption6,
.image-container {
  display: flex;
  align-items: flex-start;
}
.image-caption6 {
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-7xs) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  z-index: 1;
}
.image-container {
  align-self: stretch;
  background-color: var(--color-salmon);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-115xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image5 {
  height: 320px;
  width: 448px;
  position: relative;
  background-color: var(--color-coral);
  display: none;
  max-width: 100%;
}
.heading-311 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 16px;
  font-weight: 600;
}
.imagenes-de-energias,
.juego-educativo-de,
.renovables {
  margin: 0;
}
.caption7 {
  position: relative;
  font-size: var(--caption-size);
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.frame-div,
.image-caption7 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.image-caption7 {
  width: 197px;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  z-index: 1;
}
.frame-div {
  align-self: stretch;
  background-color: var(--color-coral);
  flex-direction: row;
  justify-content: flex-end;
  padding: 197px 0 0;
  max-width: 100%;
}
.gallery-column1,
.image-column1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.image-column1 {
  width: 448px;
  margin: 0 !important;
  position: absolute;
  top: 662px;
  left: 464px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.gallery-column1 {
  height: 1238px;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  gap: 16px 14px;
  min-width: 365px;
}
.images-gallery,
.images-gallery-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.images-gallery {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2px 0 0;
  gap: 16px 14px;
}
.images-gallery-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 35px;
  text-align: left;
  font-size: var(--link-text-size);
  color: var(--smoke-white);
  font-family: var(--link-text);
}
.heading-22 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 44px;
  font-weight: 400;
  font-family: inherit;
}
.smiley-face-icon {
  width: 44px;
  height: 22px;
  position: relative;
}
.heading-2-parent,
.smiley-face-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.smiley-face-wrapper {
  flex-direction: column;
  padding: 11px 0 0;
}
.heading-2-parent {
  width: 285px;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.slider-sqaure,
.slider-sqaure1,
.slider-sqaure2,
.slider-sqaure3 {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  border: 2px solid var(--black);
  box-sizing: border-box;
}
.slider-sqaure3 {
  margin: 0 !important;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.slider-squares-wrapper-wrapper,
.slider-squares-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slider-squares-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 0;
  position: relative;
  gap: var(--gap-5xs);
}
.slider-squares-wrapper-wrapper {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.testimonial-text {
  line-height: 160%;
}
.testimonial-author,
.testimonial-details,
.testimonial-text {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
}
.testimonial-author {
  line-height: 16px;
  font-weight: 600;
}
.testimonial-details {
  line-height: 140%;
}
.testimonial,
.testimonial-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-info {
  align-self: stretch;
  gap: var(--gap-9xs);
  font-size: var(--link-text-size);
  font-family: var(--link-text);
}
.testimonial {
  width: 448px;
  border: 2px solid var(--black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-2xl) var(--padding-3xl);
  gap: var(--gap-21xl);
  max-width: 100%;
}
.testimonial-author1,
.testimonial-details1,
.testimonial-text1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
}
.testimonial-author1,
.testimonial-details1 {
  line-height: 16px;
  font-weight: 600;
}
.testimonial-details1 {
  line-height: 140%;
  font-weight: 300;
}
.testimonial-info1,
.testimonial1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-info1 {
  align-self: stretch;
  gap: var(--gap-9xs);
  font-size: var(--link-text-size);
  font-family: var(--link-text);
}
.testimonial1 {
  width: 448px;
  border: 2px solid var(--black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-2xl) var(--padding-3xl);
  gap: var(--gap-21xl);
  max-width: 100%;
}
.testimonial-text2 {
  line-height: 160%;
}
.testimonial-author2,
.testimonial-details2,
.testimonial-text2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
}
.testimonial-author2 {
  line-height: 16px;
  font-weight: 600;
}
.testimonial-details2 {
  line-height: 140%;
}
.testimonial-info2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--link-text-size);
  font-family: var(--link-text);
}
.testimonial2 {
  width: 448px;
  border: 2px solid var(--black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-3xl);
  gap: var(--gap-21xl);
}
.testimonial2,
.testimonials,
.testimonials-slide,
.testimonials-slide-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.testimonials-slide {
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-base);
}
.testimonials,
.testimonials-slide-wrapper {
  align-self: stretch;
  box-sizing: border-box;
}
.testimonials-slide-wrapper {
  flex-direction: row;
  padding: 0 4px;
  text-align: left;
  font-size: var(--paragraph-size);
}
.testimonials {
  margin-right: -1px;
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-101xl) var(--padding-13xl);
  gap: var(--gap-21xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.misc-icon {
  width: 64px;
  height: 72px;
  position: absolute;
  margin: 0 !important;
  top: -56px;
  left: -48px;
}
.tu-y-yo {
  color: var(--smoke-white);
}
.heading-23,
.paragraph2 {
  align-self: stretch;
  position: relative;
}
.heading-23 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.paragraph2 {
  font-size: var(--paragraph-size);
  line-height: 142%;
  font-weight: 300;
  font-family: var(--link-text);
  color: var(--smoke-white);
}
.contact-header {
  width: 448px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.input-field {
  width: 400px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--link-text);
  font-size: var(--paragraph-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  color: var(--smoke-white);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 36px);
  padding: 0;
}
.input-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
}
.input {
  align-self: stretch;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  border: 1px solid var(--grey);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-6xl) var(--padding-sm)
    var(--padding-4xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.input-field1 {
  width: 400px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--link-text);
  font-size: var(--paragraph-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  color: var(--smoke-white);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 36px);
  padding: 0;
}
.input-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
}
.input1 {
  align-self: stretch;
  border: 1px solid var(--grey);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-6xl) var(--padding-sm)
    var(--padding-4xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.input-field2 {
  width: 400px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--link-text);
  font-size: var(--paragraph-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  color: var(--smoke-white);
  text-align: left;
  display: inline-block;
  max-width: 100%;
  padding: 0;
}
.input2 {
  align-self: stretch;
  border: 1px solid var(--grey);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl);
  max-width: 100%;
}
.message-input,
.text1 {
  font-family: var(--link-text);
}
.message-input {
  border: 1px solid var(--grey);
  background-color: transparent;
  height: 320px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: 0 0 var(--br-5xl) var(--br-5xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  font-weight: 300;
  font-size: var(--paragraph-size);
  color: var(--smoke-white);
}
.text1 {
  position: relative;
  font-size: var(--link-text-size);
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  display: inline-block;
  min-width: 49px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: var(--yellow);
  align-self: stretch;
  border-radius: var(--br-29xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact,
.contact-form,
.contact-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-form {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 335px;
}
.contact,
.contact-wrapper {
  flex-direction: row;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact {
  flex: 1;
  background-color: #264a48;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-101xl) 150px var(--padding-101xl) 148px;
  gap: 0 130px;
  debug_commit: 1de1738;
  z-index: 1;
}
.contact-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 var(--padding-4xl);
  margin-top: -24px;
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--yellow);
}
.link2,
.link3,
.small-paragraph1 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 300;
}
.link2,
.link3 {
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  min-width: 81px;
}
.link3 {
  flex: 1;
  min-width: 120px;
}
.links-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.footer,
.link1,
.links-wrapper {
  display: flex;
  align-items: flex-start;
}
.link1 {
  width: 213px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  background-color: var(--black);
  border-top: 1px solid var(--grey);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-13xl) var(--padding-5xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  gap: var(--gap-xl);
  margin-top: -24px;
  text-align: center;
  font-size: var(--link-text-size);
  color: var(--grey);
  font-family: var(--link-text);
}
.button-label,
.marcelo-website {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--heading-1);
}
.button-label {
  align-self: stretch;
  height: 1580px;
  align-items: flex-end;
  padding: 0 0 64px;
  max-width: 100%;
  text-align: center;
}
.marcelo-website {
  width: 100%;
  position: relative;
  background-color: var(--smoke-white);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-10xl) 0 0;
  gap: 15px;
  min-height: 5350px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .call-to-action-button-wrapper {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .banner-icon {
    align-self: stretch;
    width: auto;
  }
  .link {
    flex: 1;
  }
  .testimonial-slide {
    flex-wrap: wrap;
  }
  .carousel-controls {
    padding-bottom: 71px;
    box-sizing: border-box;
  }
  .button-label,
  .gallery-column {
    padding-bottom: 166px;
    box-sizing: border-box;
  }
  .button-label {
    padding-bottom: 42px;
  }
}
@media screen and (max-width: 1050px) {
  .heading-1 {
    font-size: 56px;
    line-height: 56px;
  }
  .image-9-icon {
    flex: 1;
  }
  .call-to-action-button {
    flex-wrap: wrap;
  }
  .heading-2,
  .heading-21,
  .heading-22 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .heading-23 {
    font-size: 49px;
    line-height: 49px;
  }
  .contact {
    padding-top: 44px;
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .button-label {
    padding-bottom: 27px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .nav-link-wrapper {
    display: none;
  }
  .slider-squares-wrapper {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .image-10-icon {
    min-width: 100%;
  }
  .accordion {
    gap: var(--gap-base);
  }
  .accordion,
  .link {
    min-width: 100%;
  }
  .testimonial-slide {
    gap: 57px;
  }
  .frame-parent {
    gap: 51px;
  }
  .carousel-controls,
  .gallery-column {
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .gallery-column {
    padding-bottom: 108px;
  }
  .testimonials {
    gap: var(--gap-xl);
    padding-top: var(--padding-59xl);
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .contact {
    gap: 65px;
    padding-left: 74px;
    padding-right: 75px;
    box-sizing: border-box;
  }
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .nav-link-wrapper {
    gap: var(--gap-xl);
  }
  .heading-1 {
    font-size: 42px;
    line-height: 42px;
  }
  .paragraph {
    font-size: var(--font-size-mid);
    line-height: 24px;
  }
  .heading-2 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .paragraph1 {
    font-size: var(--font-size-mid);
    line-height: 24px;
  }
  .testimonial-slide {
    gap: 29px;
  }
  .frame-parent {
    gap: 26px;
  }
  .heading-21,
  .heading-22 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .testimonial-text {
    font-size: var(--font-size-mid);
    line-height: 27px;
  }
  .testimonial {
    gap: var(--gap-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .testimonial-text1 {
    font-size: var(--font-size-mid);
    line-height: 27px;
  }
  .testimonial1 {
    gap: var(--gap-xl);
  }
  .testimonial-text2 {
    font-size: var(--font-size-mid);
    line-height: 27px;
  }
  .testimonial2 {
    gap: var(--gap-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading-23 {
    font-size: 37px;
    line-height: 37px;
  }
  .paragraph2 {
    font-size: var(--font-size-mid);
    line-height: 24px;
  }
  .input-field,
  .input-field1,
  .input-field2 {
    font-size: var(--font-size-mid);
    line-height: 19px;
  }
  .input2 {
    gap: 50px;
  }
  .contact {
    gap: 32px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: 51px;
    box-sizing: border-box;
  }
  .button-label {
    height: auto;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
